* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 50px;
  z-index: 10;
  background-color: white;
}

main {
  padding-top: 50px;
}

.search-and-menu i {
  margin: 0;
  border: 1px solid lightgray;
  padding: 15px;
}

.search {
  color: lightgray;
}

.menu {
  color: red;
}

.headlines {
  display: flex;
  flex-direction: column;
}

.headline-item {
  width: 98%;
  height: 170px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 2px 4px;
}

.headline-item-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.headline-item h1 {
  font-size: 1.5em;
  margin: 0;
  color: white;
}

.art-author-link {
  color: #aaa;
  font-size: 12px;
}

.art-author-link a {
  text-decoration: none;
  color: #aaa;
}

.headline-image-1 {
  background-image: linear-gradient(to bottom, rgba(11, 11, 13, 0.3), rgba(0, 0, 0, 0.923)), url("../../assets/images/headline-1.webp");
}

.headline-image-2 {
  background-image: linear-gradient(to bottom, rgba(11, 11, 13, 0.3), rgba(0, 0, 0, 0.923)), url("../../assets/images/headline-2.webp");
}

.headline-image-3 {
  background-image: linear-gradient(to bottom, rgba(11, 11, 13, 0.3), rgba(0, 0, 0, 0.923)), url("../../assets/images/headline-3.jpg");
}

.latest-news {
  padding: 0 3%;
  margin-top: 20px;
}

.latest-news h2 {
  color: #f42;
  margin-bottom: 20px;
}

.latest-news-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  height: 75px;
}

.latest-news-item img {
  width: 15%;
  height: auto;
}

.news-title {
  width: 82%;
}

.news-title h3 {
  margin-bottom: 5px;
  font-size: 14px;
}

.latest-news-item a {
  text-decoration: none;
  color: #aaa;
}

.funding {
  width: 100%;
  padding: 0 3%;
}

.funding-item {
  margin-bottom: 10px;
}

.fund-comp-wrapper {
  position: relative;
}

.fund-comp-wrapper img {
  position: absolute;
  top: 9%;
  left: 2%;
}

.fund-company {
  background-color: #f42;
  color: white;
  padding: 5px 0;
}

.fund-company p {
  margin-left: 17%;
  font-size: 1.5em;
}

.fund-amount * {
  margin-left: 17%;
}

.fund-amount {
  background-color: rgba(255, 68, 34, 0.08);
  padding: 10px 0;
}

.fund-amount p {
  font-weight: bold;
  font-size: 1.5em;
}

.fund-amount small {
  color: gray;
}

.fund-nav-links a {
  display: block;
  margin-bottom: 15px;
}

.fund-links {
  padding: 10px 3%;
  background: #fffaf8;
}

.fund-links a {
  display: block;
  margin-bottom: 0;
  text-decoration: none;
  color: black;
}

.last-fund-link {
  border-top: 1px solid rgba(255, 68, 34, 0.25);
}

.fund-links a span {
  color: #555;
}

.story-title-source {
  color: gray !important;
}

.fund-text h2,
.fund-text section a {
  color: #f42;
  text-decoration: none;
  margin-bottom: 15px;
}

.fund-text h2 {
  font-size: 2em;
  margin-top: 30px;
}

.topics {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 3%;
}

.topics-item {
  width: 98%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2px 4px;
}

.topics-item h2 {
  color: #f42;
  font-size: 1.8em;
  margin: 10px 0;
}

.topics-item-img {
  height: 370px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topics-item-img.topic-1 {
  background-image: linear-gradient(to bottom, rgba(11, 11, 13, 0.3), rgba(0, 0, 0, 0.923)), url("../../assets/images/topics-1.webp");
}

.topics-item-img.topic-2 {
  background-image: linear-gradient(to bottom, rgba(11, 11, 13, 0.3), rgba(0, 0, 0, 0.923)), url("../../assets/images/topics-2.jpg");
}

.topics-item-img.topic-3 {
  background-image: linear-gradient(to bottom, rgba(11, 11, 13, 0.3), rgba(0, 0, 0, 0.923)), url("../../assets/images/topics-3.jpg");
}

.topics-item-img.topic-4 {
  background-image: linear-gradient(to bottom, rgba(11, 11, 13, 0.3), rgba(0, 0, 0, 0.923)), url("../../assets/images/topics-4.jpeg");
}

.topics-item-img.topic-5 {
  background-image: linear-gradient(to bottom, rgba(11, 11, 13, 0.3), rgba(0, 0, 0, 0.923)), url("../../assets/images/topics-5.webp");
}

.topics-item-img.topic-6 {
  background-image: linear-gradient(to bottom, rgba(11, 11, 13, 0.3), rgba(0, 0, 0, 0.923)), url("../../assets/images/topics-6.webp");
}

.topics-item-img.topic-7 {
  background-image: linear-gradient(to bottom, rgba(11, 11, 13, 0.3), rgba(0, 0, 0, 0.923)), url("../../assets/images/topics-7.webp");
}

.topics-item-img.topic-8 {
  background-image: linear-gradient(to bottom, rgba(11, 11, 13, 0.3), rgba(0, 0, 0, 0.923)), url("../../assets/images/topics-8.jpg");
}

.topics-item-img.topic-9 {
  background-image: linear-gradient(to bottom, rgba(11, 11, 13, 0.3), rgba(0, 0, 0, 0.923)), url("../../assets/images/topics-9.jpg");
}

.top-item-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.top-item-text p,
.top-item-text h3 {
  color: #fff;
}

.mini-topic {
  display: flex;
  color: #f42;
  background-color: rgba(255, 68, 34, 0.08);
  margin-top: 3px;
}

.mini-topic img {
  width: 23%;
  height: 100px;
}

.mini-topic section p:last-child {
  font-weight: bold;
}

.mini-topic section {
  padding: 2% 3%;
}

.topics-item ul {
  padding: 2% 3%;
  list-style: none;
}

.topics-item ul li {
  padding: 5px 0;
  border-bottom: 1px solid lightgray;
  color: #555;
}

.topics-item ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #f42; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.latest-deals {
  padding: 0 3%;
  margin-top: 20px;
}

.latest-deals-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
  height: 75px;
}

.latest-deals-item section {
  width: 82%;
}

.latest-deals-item section p:first-child {
  margin-bottom: 5px;
}

.latest-deals-item section p:last-child span {
  color: #555;
}

.latest-deals-item section p:last-child del {
  font-size: 0.8em;
  color: #aaa;
}

.latest-deals-item img {
  width: 16%;
  height: auto;
}

.deals-headers {
  display: flex;
  align-items: flex-end;
  color: #f42;
  margin-bottom: 20px;
}

.deals-headers h2 {
  flex: 2;
  font-size: 1.8em;
}
